<html>


<head>
<%- include('../views/partials/header.ejs') %>
</head>

<style>
::-webkit-scrollbar {
    width:0px !important;
}

div.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}

div.top2right {
  position: absolute;
  top: 8px;
  right: 175px;
}

div.center {
  position: absolute;
  top: 185px;
  right: 150px;
  left: 150px;
  bottom: 75px;
}

div.topleft {
  position: absolute;
  top: 5px;
  left: 8px;
}

div.underleft {
  margin-top: 100px;
}
</style>


<body style="overflow:auto;">
<div class="topright">
  <a href="../" class="clean-button clean-button--red">Back Home</a>
  </div>


<div class="topleft">
  <h1 class="font-twitter">Teacher Dashboard</h1>
  </div>

  <div class="clean-grid clean-menu clean-menu--responsive underleft">
    <input type="radio" id="class" name="menu" checked>
      <% for (var x = 0; x < courses.length; x++)  { %>
        <input type="radio" id="menu-<%= x+2 %>" name="menu">
        <% } %>
        <input type="radio" id="addcourse" name="menu">
                <input type="radio" id="settings" name="menu">

      <ul class="clean-menu-nav clean-unit-1-1 clean-unit-md-1-5">
        <li><label for="class">👨‍🏫 Class Leaderboards</label></li>
          <% for (var x = 0; x < courses.length; x++)  { %>
            <li><label for="menu-<%= x+2 %>">⛳ <%= courses[x].name %></label></li>
            <% } %>
            <li><label for="addcourse">🏌️ Add Course</label></li>
            <li><label for="settings">⚙️ Settings</label></li>
      </ul>
      <ul class="clean-menu-list clean-unit-1-1 clean-unit-md-4-5">
        <li>

          <h1>Class Leaderboards</h1><br>
          <p class="font-lightgrey">Fastest Typers</p>
          <table class="clean-table clean-table--hover">
                              <thead>
                                  <tr><th>#</th>
                                  <th>Name</th>
                                  <th>WPM #</th>
                              </tr></thead>
                              <tbody>
                                <% for (var x = 0; x < wpmlist.length; x++) { %>
                                  <% if (wpmlist[x].classcode == result[0].classcode) { %>
                                  <tr>
                                      <td><%= x+1 %></td>
                                      <td><%= wpmlist[x].username %></td>
                                      <td><%= wpmlist[x].wpm %></td>
                                  </tr>
                                    <% } %>
                                  <% } %>
                              </tbody>
                          </table>
                          <br>
                          <p class="font-lightgrey">Most Accurate</p>
                          <table class="clean-table clean-table--hover">
                                              <thead>
                                                  <tr><th>#</th>
                                                  <th>Name</th>
                                                  <th>ACC %</th>
                                              </tr></thead>
                                              <tbody>
                                                <% for (var x = 0; x < acclist.length; x++) { %>
                                                  <% if (acclist[x].classcode == result[0].classcode) { %>
                                                  <tr>
                                                      <td><%= x+1 %></td>
                                                      <td><%= acclist[x].username %></td>
                                                      <td><%= acclist[x].accuracy %> %</td>
                                                  </tr>
                                                    <% } %>
                                                  <% } %>
                                              </tbody>
                                          </table>
                                          <br>


        </li>

          <% for (var x = 0; x < courses.length; x++)  { %>
            <li>
              <h3>Course : <%= courses[x].name %></h3>
              <p class="font-lightgrey">Description</p>
              <p class="font-orange"><%= courses[x].desc %></p>
              <p class="font-lightgrey">Words</p>
              <p class="font-orange"><%= courses[x].words %></p>
              <a href="../edit/<%= courses[x].classcode %>/<%= courses[x].name %>" class="clean-button clean-button--orange">Edit Course</a><br><br>
              <p class="font-lightgrey">Individual Runs</p>
              <table class="clean-table clean-table--hover">
                                  <thead>
                                      <tr><th>#</th>
                                      <th>Student</th>
                                      <th>Time</th>
                                      <th>WPM</th>
                                      <th>Errors</th>
                                  </tr></thead>
                                  <tbody>
                                     %>
                                     <% var z = 1; %>
                                    <% for (var y = 0; y < runs.length; y++) { %>
                                      <% if (runs[y].course == courses[x].name) { %>
                                      <tr>
                                          <td><%= z %></td>
                                          <% z++; %>
                                          <td><%= runs[y].username %></td>
                                          <td><%= msToTime(runs[y].time) %></td>
                                          <td><%= runs[y].wpm %></td>
                                          <td><%= runs[y].errors %></td>
                                      </tr>
                                        <% } %>
                                      <% } %>
                                  </tbody>
                              </table>
            </li>
            <% } %>


            <li>
              <h3>Add Course</h3>
              <form class="clean-form">
                <p class="font-lightgrey">Course Name</p>
                <input class="clean-input-1-4" type="text" placeholder="Course Name"><br><br>
                <p class="font-lightgrey">Course Description</p>
                <input class="clean-input-2-3" type="text" placeholder="Description"><br><br>
                <p class="font-lightgrey">Course Content</p>
                <input class="clean-input-1-1" type="text" style="height:150px;" placeholder="Course Content"><br><br>
              </form><br>
                <button class="clean-button clean-button--green">Add Course</button>
                <script>


                </script>
            </li>

          <li>
            <h3>Your Settings</h3><br>
            <form class="clean-form">
              <label for="curp">Change Password</label><br><br>
            <input class="clean-input-1-3" id="curp" type="password" placeholder="Current Password"><br>
            <input class="clean-input-1-3" type="password" placeholder="New Password"><br>
            <input class="clean-input-1-3" type="password" placeholder="Confirm Password"><br>
          </form>
          <a class="clean-button clean-button--orange">Change Password</a><br><br>
          <form class="clean-form">
            <label for="cc">Remove User From Class</label><br><br>
          <input class="clean-input-1-3" id="cc" type="text" placeholder="Username"><br>
        </form>
        <a class="clean-button clean-button--orange">Kick User</a><br><br>
        <br>
        <a class="clean-button clean-button--red" href="../logout">Logout</a><br><br>




          </li>
      </ul>
  </div>


</body>


</html>
